.home {
	display: flex;
	flex: 1 1 auto;
	z-index: 1;
}
.aws-btn {
	--slider-height-percentage: calc(100vh - 62px);
	--slider-transition-duration: 700ms;
	--organic-arrow-thickness: 6px;
	--organic-arrow-border-radius: 30px;
	--organic-arrow-height: 32px;
	--organic-arrow-color: #538bd5;
	--control-button-width: 50px;
	--control-button-height: 62px;
	--control-button-background: transparent;
	--content-background-color: white;
	--loader-bar-color: transparent;
	--loader-bar-height: 0px;
}
.awssld__timer {
	--timer-height: 0px !important;
}
